#login {
	h1 {
		a {
			background-image: url(../media/images/logo-placeholder.png);

			@apply wcb-bg-cover wcb-w-56 wcb-h-24;
		}
	}

	.button-primary {
		@apply wcb-bg-primary wcb-border-0;
	}

	input {
		@apply wcb-transition-all wcb-duration-300;
	}

	input:focus-visible,
	input:focus {
		@apply wcb-border wcb-border-solid !wcb-border-primary !wcb-shadow-none;
	}

	input[type="submit"] {
		@apply !wcb-outline-none;
	}

	.dashicons::before {
		@apply wcb-text-primary;
	}

	.message {
		@apply wcb-border-primary;
	}
}
