wp-config.php
.htaccess
.env
.htpasswd
*wp-config.php
*.htaccess
*.DS_Store
wp-content/uploads/*
wp-content/w3tc-config/*
wp-content/advanced-cache.php
wp-content/debug.log
nginx.conf
wp-content/cache/page_enhanced/*
*wflogs*
local-xdebuginfo.php
wp-content/ewww/*

*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/ai1wm-backups/*
# query-monitor plugin.
wp-content/plugins/query-monitor
wp-content/plugins/wordpress-importer
wp-content/db.php

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/stop-long-comments.php
wp-content/mu-plugins/force-strong-passwords*
wp-content/mu-plugins/wpengine-common*
wp-content/mysql.sql
wp-content/mu-plugins/wpengine-security-auditor.php
wp-content/mu-plugins/local-by-flywheel-live-link-helper.php
wp-content/mu-plugins/wpe-wp-sign-on-plugin*
wp-content/plugins/webp-express/vendor/rosell-dk/webp-convert/src/Convert/Converters/Binaries/cwebp-120-windows-x64.exe
wp-content/plugins/webp-express/vendor/rosell-dk/webp-convert/src/Convert/Converters/Binaries/cwebp-110-windows-x64.exe
wp-content/aiowps_backups*
wp-content/cache*
wp-content/upgrade*

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v

*.mng
*.asx
*.asf
*.wmv
*.avi
*.htaccess
*local-phpinfo.php

# Ai
.cursorrules
.cursor/
.cursorignore