* {
	@apply wcb-box-border wcb-antialiased;
}

body {
	@apply wcb-font-primary wcb-text-black;
}

picture {
	@apply wcb-block;
}

img {
	@apply wcb-max-w-full wcb-h-auto;
}

/* FSE Related resets */
.entry-content,
header.wp-block-template-part,
footer.wp-block-template-part {
	margin-block-start: 0;
}

:root *[class*="wp-block-wcb"] {
	margin-block-start: 0;
	margin-block-end: 0;
}

/* make every element with class wp-block-wcb-* margin block 0 */
[class*="wp-block-wcb-"] {
	* {
		margin-block: 0;
		padding-inline: 0;
		border-width: 0;
		border-style: solid;
	}
}